
.depicter-revert.depicter-3 .depicter-layers-wrapper{
	padding-left:15px;
	padding-right:15px;
}
.depicter-revert .depicter-3-element-138{
	background-color:#DBDBDB;
	border-radius:50% 50% 50% 50%;
}
.depicter-revert .depicter-3-element-138:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-3-element-138:not(.depicter-hover-off):hover {
	background-color:#00d9a6;
}
.depicter-3-element-138 .depicter-symbol-container{
	fill:#FFF;
	transition:all ease 0.3s;
}
.depicter-revert .depicter-3-element-140{
	background-color:#DBDBDB;
	border-radius:50% 50% 50% 50%;
}
.depicter-revert .depicter-3-element-140:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-3-element-140:not(.depicter-hover-off):hover {
	background-color:#00D9A6;
	border-color:#000;
}
.depicter-3-element-140 .depicter-symbol-container{
	fill:#FFF;
	transition:all ease 0.3s;
}
.depicter-revert .depicter-3-element-19{
	font-size:17px;
	color:#000;
	font-family:"Quicksand";
	font-weight:400;
	line-height:120%;
	letter-spacing:0px;
	background-color:transparent;
}
.depicter-revert .depicter-3-element-19:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-3-element-19:not(.depicter-hover-off):hover {
	color:#00D9A6;
	background-color:transparent;
}
.depicter-revert .depicter-3-element-17{
	font-size:17px;
	color:#000;
	font-family:"Quicksand";
	font-weight:400;
	line-height:120%;
	letter-spacing:0px;
	background-color:transparent;
}
.depicter-revert .depicter-3-element-17:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-3-element-17:not(.depicter-hover-off):hover {
	color:#00D9A6;
	background-color:transparent;
}
.depicter-revert .depicter-3-element-18{
	font-size:17px;
	color:#000;
	font-family:"Quicksand";
	font-weight:400;
	line-height:120%;
	letter-spacing:0px;
	background-color:transparent;
}
.depicter-revert .depicter-3-element-18:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-3-element-18:not(.depicter-hover-off):hover {
	color:#00D9A6;
	background-color:transparent;
}
.depicter-revert .depicter-3-element-16{
	font-size:17px;
	color:#000;
	font-family:"Quicksand";
	font-weight:400;
	line-height:120%;
	letter-spacing:0px;
	background-color:transparent;
}
.depicter-revert .depicter-3-element-16:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-3-element-16:not(.depicter-hover-off):hover {
	color:#00D9A6;
	background-color:transparent;
}
.depicter-revert .depicter-3-element-21{
	filter:brightness(100%) contrast(100%) saturate(100%) blur(0px) hue-rotate(0deg);
	backdrop-filter:blur(0px) brightness(100%) opacity(100%);
	background-color:#AAA;
}
.depicter-revert .depicter-3-element-20{
	font-size:81px;
	color:#920635;
	font-family:"Montserrat";
	font-weight:600;
	line-height:120%;
	letter-spacing:-3px;
	background-color:transparent;
}
.depicter-revert .depicter-3-element-13{
	padding:11px 25px 10px 27px;
	font-size:13px;
	text-align:center;
	color:#FFF;
	font-family:"Quicksand";
	font-weight:600;
	box-shadow:6px 6px 25px 0px rgba(0, 0, 0, 0.35);
	background-color:#920635;
	border-radius:30px;
}
.depicter-revert .depicter-3-element-13:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-3-element-13:not(.depicter-hover-off):hover {
	color:#FFF;
	box-shadow:10px 10px 50px 0px rgba(0, 217, 166, 0.8);
	transform:scale(0.95);
	background-color:#36413F;
	border-color:#000;
}
.depicter-revert .depicter-3-element-12{
	font-size:19px;
	color:#000;
	font-family:"Montserrat";
	font-weight:400;
	line-height:160%;
	background-color:transparent;
}
.depicter-revert .depicter-3-element-11{
	filter:brightness(82%) contrast(144%) saturate(164%) blur(0px) hue-rotate(261deg);
	opacity:1;
}
.depicter-revert .depicter-3-element-11-frame{
	mix-blend-mode:normal;
}
.depicter-revert .depicter-3-element-10{
	font-size:81px;
	color:#000;
	font-family:"Montserrat";
	font-weight:600;
	line-height:120%;
	letter-spacing:-3px;
	background-color:transparent;
}
.depicter-revert .depicter-3-element-9{
	font-size:81px;
	color:#000;
	font-family:"Montserrat";
	font-weight:600;
	line-height:120%;
	letter-spacing:-3px;
	background-color:transparent;
}
.depicter-revert .depicter-3-element-8{
	font-size:16px;
	color:#FFC73D;
	font-family:"Quicksand";
	font-weight:600;
	line-height:120%;
	letter-spacing:5px;
	background-color:transparent;
}
.depicter-revert .depicter-3-element-7{
	background-color:#908989;
	border-radius:30px;
}
.depicter-revert .depicter-3-element-6{
	background-color:#04315D;
	border-radius:30px;
}
.depicter-revert .depicter-3-element-5{
	background-color:#04315D;
	border:none;
	border-radius:30px;
}
.depicter-revert .depicter-3-element-4{
	background-color:#04315D;
	border-radius:30px;
}
.depicter-revert .depicter-3-element-3{
	background-color:#04315D;
	border-radius:500px;
}
.depicter-revert .depicter-3-section-1 .depicter-section-background{
	background-color:#FFF;
}
.depicter-revert .depicter-3-element-152{
	background-color:#04315D;
	border:none;
	border-radius:30px;
}
.depicter-revert .depicter-3-element-151{
	background-color:#908989;
	border-radius:30px;
}
.depicter-revert .depicter-3-element-149{
	background-color:#04315D;
	border-radius:30px;
}
.depicter-revert .depicter-3-element-148{
	background-color:#04315D;
	border-radius:30px;
}
.depicter-revert .depicter-3-element-143{
	background-color:#DBDBDB;
	border-radius:50% 50% 50% 50%;
}
.depicter-revert .depicter-3-element-143:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-3-element-143:not(.depicter-hover-off):hover {
	background-color:#00d9a6;
}
.depicter-3-element-143 .depicter-symbol-container{
	fill:#FFF;
	transition:all ease 0.3s;
}
.depicter-revert .depicter-3-element-135{
	font-size:16px;
	color:#FFC73D;
	font-family:"Quicksand";
	font-weight:600;
	line-height:120%;
	letter-spacing:5px;
	background-color:transparent;
}
.depicter-revert .depicter-3-element-108{
	font-size:17px;
	color:#000;
	font-family:"Quicksand";
	font-weight:400;
	line-height:120%;
	letter-spacing:0px;
	background-color:transparent;
}
.depicter-revert .depicter-3-element-108:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-3-element-108:not(.depicter-hover-off):hover {
	color:#00D9A6;
	background-color:transparent;
}
.depicter-revert .depicter-3-element-106{
	font-size:17px;
	color:#000;
	font-family:"Quicksand";
	font-weight:400;
	line-height:120%;
	letter-spacing:0px;
	background-color:transparent;
}
.depicter-revert .depicter-3-element-106:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-3-element-106:not(.depicter-hover-off):hover {
	color:#00D9A6;
	background-color:transparent;
}
.depicter-revert .depicter-3-element-107{
	font-size:17px;
	color:#000;
	font-family:"Quicksand";
	font-weight:400;
	line-height:120%;
	letter-spacing:0px;
	background-color:transparent;
}
.depicter-revert .depicter-3-element-107:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-3-element-107:not(.depicter-hover-off):hover {
	color:#00D9A6;
	background-color:transparent;
}
.depicter-revert .depicter-3-element-105{
	font-size:17px;
	color:#000;
	font-family:"Quicksand";
	font-weight:400;
	line-height:120%;
	letter-spacing:0px;
	background-color:transparent;
}
.depicter-revert .depicter-3-element-105:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-3-element-105:not(.depicter-hover-off):hover {
	color:#00D9A6;
	background-color:transparent;
}
.depicter-revert .depicter-3-element-110{
	filter:brightness(100%) contrast(100%) saturate(100%) blur(0px) hue-rotate(0deg);
	backdrop-filter:blur(0px) brightness(100%) opacity(100%);
	background-color:#AAAAAA;
}
.depicter-revert .depicter-3-element-109{
	font-size:81px;
	color:#920635;
	font-family:"Montserrat";
	font-weight:600;
	line-height:120%;
	letter-spacing:-3px;
	background-color:transparent;
}
.depicter-revert .depicter-3-element-104{
	padding:11px 25px 10px 27px;
	font-size:13px;
	text-align:center;
	color:#FFF;
	font-family:"Quicksand";
	font-weight:600;
	box-shadow:6px 6px 25px 0px rgba(0, 0, 0, 0.35);
	background-color:#920635;
	border-radius:30px;
}
.depicter-revert .depicter-3-element-104:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-3-element-104:not(.depicter-hover-off):hover {
	color:#FFF;
	box-shadow:10px 10px 50px 0px rgba(0, 217, 166, 0.8);
	transform:scale(0.95);
	background-color:#000;
	border-color:#000;
}
.depicter-revert .depicter-3-element-103{
	font-size:19px;
	color:#000;
	font-family:"Montserrat";
	font-weight:400;
	line-height:160%;
	background-color:transparent;
}
.depicter-revert .depicter-3-element-102{
	filter:brightness(82%) contrast(144%) saturate(164%) blur(0px) hue-rotate(261deg);
	opacity:1;
}
.depicter-revert .depicter-3-element-102-frame{
	mix-blend-mode:normal;
}
.depicter-revert .depicter-3-element-101{
	font-size:81px;
	color:#000;
	font-family:"Montserrat";
	font-weight:600;
	line-height:120%;
	letter-spacing:-3px;
	background-color:transparent;
}
.depicter-revert .depicter-3-element-100{
	font-size:81px;
	color:#000;
	font-family:"Montserrat";
	font-weight:600;
	line-height:120%;
	letter-spacing:-3px;
	background-color:transparent;
}
.depicter-revert .depicter-3-element-23{
	background-color:#DBDBDB;
	border-radius:50% 50% 50% 50%;
}
.depicter-revert .depicter-3-element-23:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-3-element-23:not(.depicter-hover-off):hover {
	background-color:#00D9A6;
	border-color:#000;
}
.depicter-3-element-23 .depicter-symbol-container{
	fill:#FFF;
	transition:all ease 0.3s;
}
.depicter-revert .depicter-3-element-150{
	background-color:#04315D;
	border-radius:500px;
}
.depicter-revert .depicter-3-section-93 .depicter-section-background{
	background-color:#FFF;
}
.depicter-revert .depicter-3-element-158{
	background-color:#04315D;
	border-radius:30px;
}
.depicter-revert .depicter-3-element-157{
	background-color:#04315D;
	border:none;
	border-radius:30px;
}
.depicter-revert .depicter-3-element-156{
	background-color:#908989;
	border-radius:30px;
}
.depicter-revert .depicter-3-element-155{
	background-color:#04315D;
	border-radius:30px;
}
.depicter-revert .depicter-3-element-145{
	background-color:#DBDBDB;
	border-radius:50% 50% 50% 50%;
}
.depicter-revert .depicter-3-element-145:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-3-element-145:not(.depicter-hover-off):hover {
	background-color:#00d9a6;
}
.depicter-3-element-145 .depicter-symbol-container{
	fill:#FFF;
	transition:all ease 0.3s;
}
.depicter-revert .depicter-3-element-142{
	background-color:#DBDBDB;
	border-radius:50% 50% 50% 50%;
}
.depicter-revert .depicter-3-element-142:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-3-element-142:not(.depicter-hover-off):hover {
	background-color:#00D9A6;
	border-color:#000;
}
.depicter-3-element-142 .depicter-symbol-container{
	fill:#FFF;
	transition:all ease 0.3s;
}
.depicter-revert .depicter-3-element-127{
	font-size:17px;
	color:#000;
	font-family:"Quicksand";
	font-weight:400;
	line-height:120%;
	letter-spacing:0px;
	background-color:transparent;
}
.depicter-revert .depicter-3-element-127:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-3-element-127:not(.depicter-hover-off):hover {
	color:#00D9A6;
	background-color:transparent;
}
.depicter-revert .depicter-3-element-125{
	font-size:17px;
	color:#000;
	font-family:"Quicksand";
	font-weight:400;
	line-height:120%;
	letter-spacing:0px;
	background-color:transparent;
}
.depicter-revert .depicter-3-element-125:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-3-element-125:not(.depicter-hover-off):hover {
	color:#00D9A6;
	background-color:transparent;
}
.depicter-revert .depicter-3-element-126{
	font-size:17px;
	color:#000;
	font-family:"Quicksand";
	font-weight:400;
	line-height:120%;
	letter-spacing:0px;
	background-color:transparent;
}
.depicter-revert .depicter-3-element-126:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-3-element-126:not(.depicter-hover-off):hover {
	color:#00D9A6;
	background-color:transparent;
}
.depicter-revert .depicter-3-element-124{
	font-size:17px;
	color:#000;
	font-family:"Quicksand";
	font-weight:400;
	line-height:120%;
	letter-spacing:0px;
	background-color:transparent;
}
.depicter-revert .depicter-3-element-124:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-3-element-124:not(.depicter-hover-off):hover {
	color:#00D9A6;
	background-color:transparent;
}
.depicter-revert .depicter-3-element-129{
	filter:brightness(100%) contrast(100%) saturate(100%) blur(0px) hue-rotate(0deg);
	backdrop-filter:blur(0px) brightness(100%) opacity(100%);
	background-color:#AAAAAA;
}
.depicter-revert .depicter-3-element-128{
	font-size:81px;
	color:#920635;
	font-family:"Montserrat";
	font-weight:600;
	line-height:120%;
	letter-spacing:-3px;
	background-color:transparent;
}
.depicter-revert .depicter-3-element-123{
	padding:11px 25px 10px 27px;
	font-size:13px;
	text-align:center;
	color:#FFF;
	font-family:"Quicksand";
	font-weight:300;
	box-shadow:6px 6px 25px 0px rgba(0, 0, 0, 0.35);
	background-color:#920635;
	border-radius:30px;
}
.depicter-revert .depicter-3-element-123:not(.depicter-hover-off){
	transition:all ease 0.3s;
}
.depicter-revert .depicter-3-element-123:not(.depicter-hover-off):hover {
	color:#FFF;
	box-shadow:10px 10px 50px 0px rgba(0, 217, 166, 0.8);
	transform:scale(0.95);
	background-color:#000;
	border-color:#000;
}
.depicter-revert .depicter-3-element-122{
	font-size:19px;
	color:#000;
	font-family:"Montserrat";
	font-weight:400;
	line-height:160%;
	background-color:transparent;
}
.depicter-revert .depicter-3-element-121{
	filter:brightness(82%) contrast(144%) saturate(164%) blur(0px) hue-rotate(261deg);
	opacity:1;
}
.depicter-revert .depicter-3-element-121-frame{
	mix-blend-mode:normal;
}
.depicter-revert .depicter-3-element-120{
	font-size:81px;
	color:#000;
	font-family:"Montserrat";
	font-weight:600;
	line-height:120%;
	letter-spacing:-3px;
	background-color:transparent;
}
.depicter-revert .depicter-3-element-119{
	font-size:81px;
	color:#000;
	font-family:"Montserrat";
	font-weight:600;
	line-height:120%;
	letter-spacing:-3px;
	background-color:transparent;
}
.depicter-revert .depicter-3-element-118{
	font-size:16px;
	color:#FFC73D;
	font-family:"Quicksand";
	font-weight:500;
	line-height:120%;
	letter-spacing:5px;
	background-color:transparent;
}
.depicter-revert .depicter-3-element-154{
	background-color:#04315D;
	border-radius:500px;
}
.depicter-revert .depicter-3-section-112 .depicter-section-background{
	background-color:#FFF;
}

/***** Tablet *****/
@media screen and (max-width: 1024px){

.depicter-revert .depicter-3-element-138{
	background-color:#DBDBDB;
}
.depicter-3-element-138 .depicter-symbol-container{
	fill:#FFFFFF;
}
.depicter-revert .depicter-3-element-140{
	background-color:#DBDBDB;
}
.depicter-3-element-140 .depicter-symbol-container{
	fill:#FFFFFF;
}
.depicter-revert .depicter-3-element-21{
	background-color:#AAAAAA;
}
.depicter-revert .depicter-3-element-20{
	font-size:70px;
	color:#00d9a6;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-3px;
}
.depicter-revert .depicter-3-element-13{
	font-size:13px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Quicksand";
	font-weight:300;
	background-color:#202020;
}
.depicter-revert .depicter-3-element-10{
	font-size:70px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-3px;
}
.depicter-revert .depicter-3-element-9{
	font-size:70px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-3px;
}
.depicter-revert .depicter-3-element-8{
	font-size:16px;
	color:#00D9A6;
	font-family:"Quicksand";
	font-weight:500;
	line-height:120%;
	letter-spacing:5px;
	background-color:transparent;
}
.depicter-revert .depicter-3-section-1 .depicter-section-background{
	background-color:#FAFAFA;
}
.depicter-revert .depicter-3-element-143{
	background-color:#DBDBDB;
}
.depicter-3-element-143 .depicter-symbol-container{
	fill:#FFFFFF;
}
.depicter-revert .depicter-3-element-135{
	font-size:16px;
	color:#00D9A6;
	font-family:"Quicksand";
	font-weight:500;
	line-height:120%;
	letter-spacing:5px;
	background-color:transparent;
}
.depicter-revert .depicter-3-element-110{
	background-color:#AAAAAA;
}
.depicter-revert .depicter-3-element-109{
	font-size:70px;
	color:#00d9a6;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-3px;
}
.depicter-revert .depicter-3-element-104{
	font-size:13px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Quicksand";
	font-weight:300;
	background-color:#202020;
}
.depicter-revert .depicter-3-element-101{
	font-size:70px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-3px;
}
.depicter-revert .depicter-3-element-100{
	font-size:70px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-3px;
}
.depicter-revert .depicter-3-element-23{
	background-color:#DBDBDB;
}
.depicter-3-element-23 .depicter-symbol-container{
	fill:#FFFFFF;
}
.depicter-revert .depicter-3-section-93 .depicter-section-background{
	background-color:#FAFAFA;
}
.depicter-revert .depicter-3-element-145{
	background-color:#DBDBDB;
}
.depicter-3-element-145 .depicter-symbol-container{
	fill:#FFFFFF;
}
.depicter-revert .depicter-3-element-142{
	background-color:#DBDBDB;
}
.depicter-3-element-142 .depicter-symbol-container{
	fill:#FFFFFF;
}
.depicter-revert .depicter-3-element-129{
	background-color:#AAAAAA;
}
.depicter-revert .depicter-3-element-128{
	font-size:70px;
	color:#00d9a6;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-3px;
}
.depicter-revert .depicter-3-element-123{
	font-size:13px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Quicksand";
	font-weight:300;
	background-color:#202020;
}
.depicter-revert .depicter-3-element-120{
	font-size:70px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-3px;
}
.depicter-revert .depicter-3-element-119{
	font-size:70px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-3px;
}
.depicter-revert .depicter-3-element-118{
	font-size:16px;
	color:#00D9A6;
	font-family:"Quicksand";
	font-weight:500;
	line-height:120%;
	letter-spacing:5px;
	background-color:transparent;
}
.depicter-revert .depicter-3-section-112 .depicter-section-background{
	background-color:#FAFAFA;
}

}
/***** Mobile *****/
@media screen and (max-width: 767px){

.depicter-revert .depicter-3-element-138{
	background-color:#DBDBDB;
}
.depicter-3-element-138 .depicter-symbol-container{
	fill:#FFFFFF;
}
.depicter-revert .depicter-3-element-140{
	background-color:#DBDBDB;
}
.depicter-3-element-140 .depicter-symbol-container{
	fill:#FFFFFF;
}
.depicter-revert .depicter-3-element-19{
	font-size:13px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:600;
	line-height:120%;
	letter-spacing:0px;
}
.depicter-revert .depicter-3-element-17{
	font-size:13px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:600;
	line-height:120%;
	letter-spacing:0px;
}
.depicter-revert .depicter-3-element-18{
	font-size:13px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:600;
	line-height:120%;
	letter-spacing:0px;
}
.depicter-revert .depicter-3-element-16{
	font-size:13px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:600;
	line-height:120%;
	letter-spacing:0px;
}
.depicter-revert .depicter-3-element-21{
	filter:none;
	backdrop-filter:blur(6px) brightness(160%) opacity(100%);
	background-color:rgba(231, 231, 231, 0.7);
}
.depicter-revert .depicter-3-element-20{
	font-size:45px;
	color:#00d9a6;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-1px;
}
.depicter-revert .depicter-3-element-13{
	font-size:13px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Quicksand";
	font-weight:300;
	background-color:#202020;
}
.depicter-revert .depicter-3-element-12{
	font-size:13px;
	font-family:"Ubuntu";
	font-weight:300;
	line-height:160%;
}
.depicter-revert .depicter-3-element-10{
	font-size:45px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-1px;
}
.depicter-revert .depicter-3-element-9{
	font-size:45px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-1px;
}
.depicter-revert .depicter-3-element-8{
	font-size:16px;
	color:#00D9A6;
	font-family:"Quicksand";
	font-weight:500;
	line-height:120%;
	letter-spacing:5px;
	background-color:transparent;
}
.depicter-revert .depicter-3-section-1 .depicter-section-background{
	background-color:#FAFAFA;
}
.depicter-revert .depicter-3-element-143{
	background-color:#DBDBDB;
}
.depicter-3-element-143 .depicter-symbol-container{
	fill:#FFFFFF;
}
.depicter-revert .depicter-3-element-135{
	font-size:16px;
	color:#00D9A6;
	font-family:"Quicksand";
	font-weight:500;
	line-height:120%;
	letter-spacing:5px;
	background-color:transparent;
}
.depicter-revert .depicter-3-element-108{
	font-size:13px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:600;
	line-height:120%;
	letter-spacing:0px;
}
.depicter-revert .depicter-3-element-106{
	font-size:13px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:600;
	line-height:120%;
	letter-spacing:0px;
}
.depicter-revert .depicter-3-element-107{
	font-size:13px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:600;
	line-height:120%;
	letter-spacing:0px;
}
.depicter-revert .depicter-3-element-105{
	font-size:13px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:600;
	line-height:120%;
	letter-spacing:0px;
}
.depicter-revert .depicter-3-element-110{
	filter:none;
	backdrop-filter:blur(6px) brightness(160%) opacity(100%);
	background-color:rgba(231, 231, 231, 0.7);
}
.depicter-revert .depicter-3-element-109{
	font-size:45px;
	color:#00d9a6;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-1px;
}
.depicter-revert .depicter-3-element-104{
	font-size:13px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Quicksand";
	font-weight:300;
	background-color:#202020;
}
.depicter-revert .depicter-3-element-103{
	font-size:13px;
	font-family:"Ubuntu";
	font-weight:300;
	line-height:160%;
}
.depicter-revert .depicter-3-element-101{
	font-size:45px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-1px;
}
.depicter-revert .depicter-3-element-100{
	font-size:45px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-1px;
}
.depicter-revert .depicter-3-element-23{
	background-color:#DBDBDB;
}
.depicter-3-element-23 .depicter-symbol-container{
	fill:#FFFFFF;
}
.depicter-revert .depicter-3-section-93 .depicter-section-background{
	background-color:#FAFAFA;
}
.depicter-revert .depicter-3-element-145{
	background-color:#DBDBDB;
}
.depicter-3-element-145 .depicter-symbol-container{
	fill:#FFFFFF;
}
.depicter-revert .depicter-3-element-142{
	background-color:#DBDBDB;
}
.depicter-3-element-142 .depicter-symbol-container{
	fill:#FFFFFF;
}
.depicter-revert .depicter-3-element-127{
	font-size:13px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:600;
	line-height:120%;
	letter-spacing:0px;
}
.depicter-revert .depicter-3-element-125{
	font-size:13px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:600;
	line-height:120%;
	letter-spacing:0px;
}
.depicter-revert .depicter-3-element-126{
	font-size:13px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:600;
	line-height:120%;
	letter-spacing:0px;
}
.depicter-revert .depicter-3-element-124{
	font-size:13px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:600;
	line-height:120%;
	letter-spacing:0px;
}
.depicter-revert .depicter-3-element-129{
	filter:none;
	backdrop-filter:blur(6px) brightness(160%) opacity(100%);
	background-color:rgba(231, 231, 231, 0.7);
}
.depicter-revert .depicter-3-element-128{
	font-size:45px;
	color:#00d9a6;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-1px;
}
.depicter-revert .depicter-3-element-123{
	font-size:13px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Quicksand";
	font-weight:300;
	background-color:#202020;
}
.depicter-revert .depicter-3-element-122{
	font-size:13px;
	font-family:"Ubuntu";
	font-weight:300;
	line-height:160%;
}
.depicter-revert .depicter-3-element-120{
	font-size:45px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-1px;
}
.depicter-revert .depicter-3-element-119{
	font-size:45px;
	color:#202020;
	font-family:"Quicksand";
	font-weight:700;
	line-height:120%;
	letter-spacing:-1px;
}
.depicter-revert .depicter-3-element-118{
	font-size:16px;
	color:#00D9A6;
	font-family:"Quicksand";
	font-weight:500;
	line-height:120%;
	letter-spacing:5px;
	background-color:transparent;
}
.depicter-revert .depicter-3-section-112 .depicter-section-background{
	background-color:#FAFAFA;
}

}
