.elementor-661 .elementor-element.elementor-element-208ba1b6{--display:flex;}.elementor-661 .elementor-element.elementor-element-50d40220 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-661 .elementor-element.elementor-element-313160dc{--display:flex;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--gap:0px 0px;--row-gap:0px;--column-gap:0px;}.elementor-661 .elementor-element.elementor-element-23fa18b0{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;}.elementor-661 .elementor-element.elementor-element-24ebd657{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;}.elementor-661 .elementor-element.elementor-element-13973098 > .elementor-container{max-width:1600px;}.elementor-661 .elementor-element.elementor-element-13973098{margin-top:100px;margin-bottom:100px;}.elementor-widget-heading .elementor-heading-title{font-family:var( --e-global-typography-primary-font-family ), Sans-serif;font-weight:var( --e-global-typography-primary-font-weight );color:var( --e-global-color-primary );}.elementor-661 .elementor-element.elementor-element-6c28b679{text-align:center;}.elementor-661 .elementor-element.elementor-element-6c28b679 .elementor-heading-title{font-family:"Montserrat", Sans-serif;font-size:30px;font-weight:600;text-transform:uppercase;color:#2777D4;}.elementor-661 .elementor-element.elementor-element-732fed8c > .elementor-widget-container{margin:-9px 0px 0px 0px;}.elementor-661 .elementor-element.elementor-element-732fed8c{text-align:center;}.elementor-661 .elementor-element.elementor-element-732fed8c .elementor-heading-title{font-family:"Montserrat", Sans-serif;font-size:45px;font-weight:600;color:#222222;}.elementor-661 .elementor-element.elementor-element-689360e3 > .elementor-container{max-width:1338px;}.elementor-bc-flex-widget .elementor-661 .elementor-element.elementor-element-174b25cd.elementor-column .elementor-widget-wrap{align-items:center;}.elementor-661 .elementor-element.elementor-element-174b25cd.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:center;align-items:center;}.elementor-661 .elementor-element.elementor-element-174b25cd > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:45px;}.elementor-widget-icon-box.elementor-view-stacked .elementor-icon{background-color:var( --e-global-color-primary );}.elementor-widget-icon-box.elementor-view-framed .elementor-icon, .elementor-widget-icon-box.elementor-view-default .elementor-icon{fill:var( --e-global-color-primary );color:var( --e-global-color-primary );border-color:var( --e-global-color-primary );}.elementor-widget-icon-box .elementor-icon-box-title, .elementor-widget-icon-box .elementor-icon-box-title a{font-family:var( --e-global-typography-primary-font-family ), Sans-serif;font-weight:var( --e-global-typography-primary-font-weight );}.elementor-widget-icon-box .elementor-icon-box-title{color:var( --e-global-color-primary );}.elementor-widget-icon-box:has(:hover) .elementor-icon-box-title,
					 .elementor-widget-icon-box:has(:focus) .elementor-icon-box-title{color:var( --e-global-color-primary );}.elementor-widget-icon-box .elementor-icon-box-description{font-family:var( --e-global-typography-text-font-family ), Sans-serif;font-weight:var( --e-global-typography-text-font-weight );color:var( --e-global-color-text );}.elementor-661 .elementor-element.elementor-element-54ea85bd > .elementor-widget-container:hover{--e-transform-scale:1.05;}.elementor-661 .elementor-element.elementor-element-54ea85bd .elementor-icon-box-wrapper{text-align:left;}.elementor-661 .elementor-element.elementor-element-54ea85bd{--icon-box-icon-margin:15px;}.elementor-661 .elementor-element.elementor-element-54ea85bd .elementor-icon-box-title{margin-bottom:0px;color:#222222;}.elementor-661 .elementor-element.elementor-element-54ea85bd.elementor-view-stacked .elementor-icon{background-color:#222222;fill:#F2F3F3;color:#F2F3F3;}.elementor-661 .elementor-element.elementor-element-54ea85bd.elementor-view-framed .elementor-icon, .elementor-661 .elementor-element.elementor-element-54ea85bd.elementor-view-default .elementor-icon{fill:#222222;color:#222222;border-color:#222222;}.elementor-661 .elementor-element.elementor-element-54ea85bd.elementor-view-framed .elementor-icon{background-color:#F2F3F3;}.elementor-661 .elementor-element.elementor-element-54ea85bd .elementor-icon{font-size:22px;padding:16px;border-width:0px 0px 0px 0px;}.elementor-661 .elementor-element.elementor-element-54ea85bd .elementor-icon-box-title, .elementor-661 .elementor-element.elementor-element-54ea85bd .elementor-icon-box-title a{font-family:"Montserrat", Sans-serif;font-size:19px;font-weight:600;}.elementor-661 .elementor-element.elementor-element-54ea85bd .elementor-icon-box-description{font-family:"Montserrat", Sans-serif;font-size:14px;font-weight:400;color:#555555;}.elementor-661 .elementor-element.elementor-element-e6fdd9f > .elementor-widget-container:hover{--e-transform-scale:1.05;}.elementor-661 .elementor-element.elementor-element-e6fdd9f .elementor-icon-box-wrapper{text-align:left;}.elementor-661 .elementor-element.elementor-element-e6fdd9f{--icon-box-icon-margin:15px;}.elementor-661 .elementor-element.elementor-element-e6fdd9f .elementor-icon-box-title{margin-bottom:0px;color:#222222;}.elementor-661 .elementor-element.elementor-element-e6fdd9f.elementor-view-stacked .elementor-icon{background-color:#222222;fill:#F2F3F3;color:#F2F3F3;}.elementor-661 .elementor-element.elementor-element-e6fdd9f.elementor-view-framed .elementor-icon, .elementor-661 .elementor-element.elementor-element-e6fdd9f.elementor-view-default .elementor-icon{fill:#222222;color:#222222;border-color:#222222;}.elementor-661 .elementor-element.elementor-element-e6fdd9f.elementor-view-framed .elementor-icon{background-color:#F2F3F3;}.elementor-661 .elementor-element.elementor-element-e6fdd9f .elementor-icon{font-size:22px;padding:16px;border-width:0px 0px 0px 0px;}.elementor-661 .elementor-element.elementor-element-e6fdd9f .elementor-icon-box-title, .elementor-661 .elementor-element.elementor-element-e6fdd9f .elementor-icon-box-title a{font-family:"Montserrat", Sans-serif;font-size:19px;font-weight:600;}.elementor-661 .elementor-element.elementor-element-e6fdd9f .elementor-icon-box-description{font-family:"Montserrat", Sans-serif;font-size:14px;font-weight:400;color:#555555;}.elementor-661 .elementor-element.elementor-element-267bb510 > .elementor-widget-container:hover{--e-transform-scale:1.05;}.elementor-661 .elementor-element.elementor-element-267bb510 .elementor-icon-box-wrapper{text-align:left;}.elementor-661 .elementor-element.elementor-element-267bb510{--icon-box-icon-margin:15px;}.elementor-661 .elementor-element.elementor-element-267bb510 .elementor-icon-box-title{margin-bottom:0px;color:#222222;}.elementor-661 .elementor-element.elementor-element-267bb510.elementor-view-stacked .elementor-icon{background-color:#222222;fill:#F2F3F3;color:#F2F3F3;}.elementor-661 .elementor-element.elementor-element-267bb510.elementor-view-framed .elementor-icon, .elementor-661 .elementor-element.elementor-element-267bb510.elementor-view-default .elementor-icon{fill:#222222;color:#222222;border-color:#222222;}.elementor-661 .elementor-element.elementor-element-267bb510.elementor-view-framed .elementor-icon{background-color:#F2F3F3;}.elementor-661 .elementor-element.elementor-element-267bb510 .elementor-icon{font-size:22px;padding:16px;border-width:0px 0px 0px 0px;}.elementor-661 .elementor-element.elementor-element-267bb510 .elementor-icon-box-title, .elementor-661 .elementor-element.elementor-element-267bb510 .elementor-icon-box-title a{font-family:"Montserrat", Sans-serif;font-size:19px;font-weight:600;}.elementor-661 .elementor-element.elementor-element-267bb510 .elementor-icon-box-description{font-family:"Montserrat", Sans-serif;font-size:14px;font-weight:400;color:#555555;}.elementor-bc-flex-widget .elementor-661 .elementor-element.elementor-element-16bdd163.elementor-column .elementor-widget-wrap{align-items:center;}.elementor-661 .elementor-element.elementor-element-16bdd163.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:center;align-items:center;}.elementor-widget-image .widget-image-caption{color:var( --e-global-color-text );font-family:var( --e-global-typography-text-font-family ), Sans-serif;font-weight:var( --e-global-typography-text-font-weight );}.elementor-661 .elementor-element.elementor-element-3331de0b img{width:100%;border-radius:24px 24px 24px 24px;}.elementor-661 .elementor-element.elementor-element-09d5a68 > .elementor-widget-container:hover{--e-transform-scale:1.05;}.elementor-661 .elementor-element.elementor-element-09d5a68 .elementor-icon-box-wrapper{text-align:right;}.elementor-661 .elementor-element.elementor-element-09d5a68{--icon-box-icon-margin:15px;}.elementor-661 .elementor-element.elementor-element-09d5a68 .elementor-icon-box-title{margin-bottom:0px;color:#222222;}.elementor-661 .elementor-element.elementor-element-09d5a68.elementor-view-stacked .elementor-icon{background-color:#222222;fill:#F2F3F3;color:#F2F3F3;}.elementor-661 .elementor-element.elementor-element-09d5a68.elementor-view-framed .elementor-icon, .elementor-661 .elementor-element.elementor-element-09d5a68.elementor-view-default .elementor-icon{fill:#222222;color:#222222;border-color:#222222;}.elementor-661 .elementor-element.elementor-element-09d5a68.elementor-view-framed .elementor-icon{background-color:#F2F3F3;}.elementor-661 .elementor-element.elementor-element-09d5a68 .elementor-icon{font-size:22px;padding:16px;border-width:0px 0px 0px 0px;}.elementor-661 .elementor-element.elementor-element-09d5a68 .elementor-icon-box-title, .elementor-661 .elementor-element.elementor-element-09d5a68 .elementor-icon-box-title a{font-family:"Montserrat", Sans-serif;font-size:19px;font-weight:600;}.elementor-661 .elementor-element.elementor-element-09d5a68 .elementor-icon-box-description{font-family:"Montserrat", Sans-serif;font-size:14px;font-weight:400;color:#555555;}.elementor-bc-flex-widget .elementor-661 .elementor-element.elementor-element-7039fb8.elementor-column .elementor-widget-wrap{align-items:center;}.elementor-661 .elementor-element.elementor-element-7039fb8.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:center;align-items:center;}.elementor-661 .elementor-element.elementor-element-7039fb8 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:45px;}.elementor-661 .elementor-element.elementor-element-7f0997c6 > .elementor-widget-container:hover{--e-transform-scale:1.05;}.elementor-661 .elementor-element.elementor-element-7f0997c6 .elementor-icon-box-wrapper{text-align:right;}.elementor-661 .elementor-element.elementor-element-7f0997c6{--icon-box-icon-margin:15px;}.elementor-661 .elementor-element.elementor-element-7f0997c6 .elementor-icon-box-title{margin-bottom:0px;color:#222222;}.elementor-661 .elementor-element.elementor-element-7f0997c6.elementor-view-stacked .elementor-icon{background-color:#222222;fill:#F2F3F3;color:#F2F3F3;}.elementor-661 .elementor-element.elementor-element-7f0997c6.elementor-view-framed .elementor-icon, .elementor-661 .elementor-element.elementor-element-7f0997c6.elementor-view-default .elementor-icon{fill:#222222;color:#222222;border-color:#222222;}.elementor-661 .elementor-element.elementor-element-7f0997c6.elementor-view-framed .elementor-icon{background-color:#F2F3F3;}.elementor-661 .elementor-element.elementor-element-7f0997c6 .elementor-icon{font-size:22px;padding:16px;border-width:0px 0px 0px 0px;}.elementor-661 .elementor-element.elementor-element-7f0997c6 .elementor-icon-box-title, .elementor-661 .elementor-element.elementor-element-7f0997c6 .elementor-icon-box-title a{font-family:"Montserrat", Sans-serif;font-size:19px;font-weight:600;}.elementor-661 .elementor-element.elementor-element-7f0997c6 .elementor-icon-box-description{font-family:"Montserrat", Sans-serif;font-size:14px;font-weight:400;color:#555555;}.elementor-661 .elementor-element.elementor-element-5d37a1a4 > .elementor-widget-container:hover{--e-transform-scale:1.05;}.elementor-661 .elementor-element.elementor-element-5d37a1a4 .elementor-icon-box-wrapper{text-align:right;}.elementor-661 .elementor-element.elementor-element-5d37a1a4{--icon-box-icon-margin:15px;}.elementor-661 .elementor-element.elementor-element-5d37a1a4 .elementor-icon-box-title{margin-bottom:0px;color:#222222;}.elementor-661 .elementor-element.elementor-element-5d37a1a4.elementor-view-stacked .elementor-icon{background-color:#222222;fill:#F2F3F3;color:#F2F3F3;}.elementor-661 .elementor-element.elementor-element-5d37a1a4.elementor-view-framed .elementor-icon, .elementor-661 .elementor-element.elementor-element-5d37a1a4.elementor-view-default .elementor-icon{fill:#222222;color:#222222;border-color:#222222;}.elementor-661 .elementor-element.elementor-element-5d37a1a4.elementor-view-framed .elementor-icon{background-color:#F2F3F3;}.elementor-661 .elementor-element.elementor-element-5d37a1a4 .elementor-icon{font-size:22px;padding:16px;border-width:0px 0px 0px 0px;}.elementor-661 .elementor-element.elementor-element-5d37a1a4 .elementor-icon-box-title, .elementor-661 .elementor-element.elementor-element-5d37a1a4 .elementor-icon-box-title a{font-family:"Montserrat", Sans-serif;font-size:19px;font-weight:600;}.elementor-661 .elementor-element.elementor-element-5d37a1a4 .elementor-icon-box-description{font-family:"Montserrat", Sans-serif;font-size:14px;font-weight:400;color:#555555;}.elementor-661 .elementor-element.elementor-element-50d3baea > .elementor-widget-container:hover{--e-transform-scale:1.05;}.elementor-661 .elementor-element.elementor-element-50d3baea .elementor-icon-box-wrapper{text-align:right;}.elementor-661 .elementor-element.elementor-element-50d3baea{--icon-box-icon-margin:15px;}.elementor-661 .elementor-element.elementor-element-50d3baea .elementor-icon-box-title{margin-bottom:0px;color:#222222;}.elementor-661 .elementor-element.elementor-element-50d3baea.elementor-view-stacked .elementor-icon{background-color:#222222;fill:#F2F3F3;color:#F2F3F3;}.elementor-661 .elementor-element.elementor-element-50d3baea.elementor-view-framed .elementor-icon, .elementor-661 .elementor-element.elementor-element-50d3baea.elementor-view-default .elementor-icon{fill:#222222;color:#222222;border-color:#222222;}.elementor-661 .elementor-element.elementor-element-50d3baea.elementor-view-framed .elementor-icon{background-color:#F2F3F3;}.elementor-661 .elementor-element.elementor-element-50d3baea .elementor-icon{font-size:22px;padding:16px;border-width:0px 0px 0px 0px;}.elementor-661 .elementor-element.elementor-element-50d3baea .elementor-icon-box-title, .elementor-661 .elementor-element.elementor-element-50d3baea .elementor-icon-box-title a{font-family:"Montserrat", Sans-serif;font-size:19px;font-weight:600;}.elementor-661 .elementor-element.elementor-element-50d3baea .elementor-icon-box-description{font-family:"Montserrat", Sans-serif;font-size:14px;font-weight:400;color:#555555;}@media(max-width:1024px){.elementor-661 .elementor-element.elementor-element-13973098{margin-top:50px;margin-bottom:0px;padding:0px 20px 0px 20px;}.elementor-661 .elementor-element.elementor-element-732fed8c .elementor-heading-title{font-size:35px;}.elementor-661 .elementor-element.elementor-element-3331de0b{text-align:center;}.elementor-661 .elementor-element.elementor-element-3331de0b img{width:38%;}}@media(max-width:767px){.elementor-661 .elementor-element.elementor-element-6c28b679 .elementor-heading-title{font-size:20px;}.elementor-661 .elementor-element.elementor-element-732fed8c .elementor-heading-title{font-size:30px;}}@media(min-width:768px){.elementor-661 .elementor-element.elementor-element-23fa18b0{--width:50%;}.elementor-661 .elementor-element.elementor-element-24ebd657{--width:50%;}.elementor-661 .elementor-element.elementor-element-174b25cd{width:30%;}.elementor-661 .elementor-element.elementor-element-16bdd163{width:39.666%;}.elementor-661 .elementor-element.elementor-element-7039fb8{width:30%;}}@media(max-width:1024px) and (min-width:768px){.elementor-661 .elementor-element.elementor-element-174b25cd{width:50%;}.elementor-661 .elementor-element.elementor-element-16bdd163{width:100%;}.elementor-661 .elementor-element.elementor-element-7039fb8{width:50%;}}/* Start custom CSS for html, class: .elementor-element-64e1cc59 */.card3 {
    
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  border-radius: 24px;
  overflow: hidden;
  line-height: 1.6;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.content2 {
    
  font-family: Montserrat;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0px; 
  padding: 34px;
  border-radius: 22px;
  color: #ffffff;
  overflow: hidden;
  background: #ffffff;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.content2 .heading2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.3;
  z-index: 1;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  color: #fff; 
  margin-bottom: 0; 
  
}

.content2 .heading3 {
  font-weight: 700;
  font-size: 23px;
  line-height: 1.3;
  z-index: 1;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  color: #3498db; 
  margin-top: 0; 
  
}

.content2 .para2 {
    
  z-index: 1;
  opacity: 0.8;
  font-size: 16px;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  
}

.card3::before {
  content: "";
  position: absolute;
  height: 300%;
  width: 300%;
  border-radius: inherit;
  background: #0c2456;
  background: linear-gradient(to right, #0c2456, #0c2456);
  transform-origin: center;
  animation: moving 4.8s linear infinite paused;
  transition: all 0.88s cubic-bezier(0.23, 1, 0.32, 1);
  
}

.card3:hover::before {
  animation-play-state: running;
  z-index: -1;
  width: 20%;
}

.card3:hover .content2 .heading2 {
  color: #1a3980; 
}

.card3:hover .content2 .heading3 {
  color: #2980b9; 
}

.card3:hover .content2 .para2 {
  color: #000000;
}

.card3:hover {
  box-shadow: 0rem 6px 13px rgba(10, 60, 255, 0.1),
    0rem 24px 24px rgba(10, 60, 255, 0.09),
    0rem 55px 33px rgba(10, 60, 255, 0.05),
    0rem 97px 39px rgba(10, 60, 255, 0.01), 0rem 152px 43px rgba(10, 60, 255, 0);
  scale: 1.05;
  color: #000000;
}

@keyframes moving {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-24d4bdb5 */.card3 {
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  border-radius: 24px;
  overflow: hidden;
  line-height: 1.6;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.content2 {
  font-family: Montserrat;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0px; 
  padding: 34px;
  border-radius: 22px;
  color: #ffffff;
  overflow: hidden;
  background: #ffffff;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.content2 .heading2 {
    text-align: center;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.3;
  z-index: 1;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  color: #fff; 
  margin-bottom: 0; 
}

.content2 .heading3 {
  font-weight: 700;
  font-size: 23px;
  line-height: 1.3;
  z-index: 1;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  color: #3498db; 
  margin-top: 0; 
}

.content2 .para2 {
  z-index: 1;
  opacity: 0.8;
  font-size: 16px;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  
}

.card3::before {
  content: "";
  position: absolute;
  height: 300%;
  width: 300%;
  border-radius: inherit;
  background: #0c2456;
  background: linear-gradient(to right, #0c2456, #0c2456);
  transform-origin: center;
  animation: moving 4.8s linear infinite paused;
  transition: all 0.88s cubic-bezier(0.23, 1, 0.32, 1);
}

.card3:hover::before {
  animation-play-state: running;
  z-index: -1;
  width: 20%;
}

.card3:hover .content2 .heading2 {
  color: #1a3980; 
}

.card3:hover .content2 .heading3 {
  color: #2980b9; 
}

.card3:hover .content2 .para2 {
  color: #000000;
}

.card3:hover {
  box-shadow: 0rem 6px 13px rgba(10, 60, 255, 0.1),
    0rem 24px 24px rgba(10, 60, 255, 0.09),
    0rem 55px 33px rgba(10, 60, 255, 0.05),
    0rem 97px 39px rgba(10, 60, 255, 0.01), 0rem 152px 43px rgba(10, 60, 255, 0);
  scale: 1.05;
  color: #000000;
}

@keyframes moving {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}/* End custom CSS */